// Place all the styles related to the customer::cart_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.margin-bottom {
  margin-bottom: 20px;
}
#quantity_cart {
  width: 50px;
  height: 33px;
  text-align: center;
}
.table > tbody > tr > td, {
  line-height: 3 !important;
}
