// Place all the styles related to the customer::customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.quit {
  text-align: center;
  margin-top: 80px;
}
.quit-msg {
	margin: 20px;
}
.shipping-link {
	margin-right: 24px;
}
.order-link,.information-link{
	margin-right: 6px;
}
.save {
	margin-left: 30px;
}
.actions {
	margin-top: 30px;
}
.pass-btn {
	margin-left: 250px;
}