// Place all the styles related to the customer::customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.quit {
  text-align: center;
}
.shipping-link {
	margin-right: 20px;
}
.order-link,.information-link{
	margin-right: 6px;
}
