// Place all the styles related to the customer::orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.title_h2 {
	border-bottom: solid 3px #FFC7AF;
}
strong {
	font-size: 18px;
}
table {
	margin-top: 5px;
}
table th{
	position: relative;
	text-align: center;
}
.billing > table th.info:after{
	display: block;
	content: "";
	width: 0px;
	height: 0px;
	position: absolute;
	top:calc(50% - 10px);
	right:-10px;
	border-left: 10px solid;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
}
table td{
	text-align: left;
	text-align: center;
	padding: 10px 0;
}
.order-details {
	position: relative;
	margin-top: 20px;
}
.order-index-back {
	position: absolute;
	right: 200px;
	float: left;
	bottom: 0;
}
.form-control-static {
	line-height: 1 !important;
}
.sub-head {
	border-bottom: solid 1px #FFC7AF;
}
.btns {
	margin: 10px;
}
.cart-back {
	margin-top: 10px;
	margin-right: 170px;
}
.radio {
	margin-bottom: 5px;
}
.radio > span {
	font-weight: bolder;
}
.back {
	margin-right: 240px;
}