// Place all the styles related to the customer::products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
.product-index {
	padding-top: 50px;
}
.product-headline {
	display: inline;
	margin: 10px;
}
.product-container {
	float: left;
	margin: 40px 15px 20px 15px;
}
.toppage-head {
	margin-bottom: 0;
}
.product-recommend {
	position: relative;
	float: left;
	margin: 10px 15px 10px 15px;
}
.product-more {
	position: absolute;
	bottom: 5px;
	right: 120px;
}
.product-show {
	margin-top: 100px;
}
.tax {
	font-size: 15px;
	margin-left: 5px;
}
.product-description {
	margin-bottom: 50px;
}
.genre_id {
  width: 70px;
  height: 33px;
}
