<% provide(:title, "ありがとうございました！") %>
<div class="row col-xs-12 center-block">
  <h1 class="text-center thanx">ご購入ありがとうございました！</h1><br>
  <div class="col-xs-7">
    <%= link_to "　注文履歴はこちら　", customers_orders_path, class: "btn btn-info pull-right" %>
  </div>
</div>
