<% if product.genre.is_valid == true %>
  <div class="product-container">

      <%= link_to product_path(product.id), class: "btn-link", :style=>"color:#0099FF;" do %>
      <div id="img_field" class="product">
        <%= attachment_image_tag(product, :image, size: "180x130", fallback: "no_image.jpg") %>
      </div>
      <p class="products-name">
        <%= product.name %>
      </p>
      <% end %>

    <% if product.is_sale == true %>
      <p>¥<%= product.tax_out_price.to_s(:delimited) %></p>
    <% elsif product.is_sale == false %>
      <p class="soldout">売り切れ中</p>
    <% end %>
  </div>
<% end %>
