<% provide(:title, "サイトについて") %>

<body class="about">

    <div class="sample1">
       A cake shop that originated in Nagano Prefecture.<br> 
       We are showing the commitment that we can collect all the materials in cooperation with local people and make them all at our own factory.<br>
       Let's promise everyone the best time.<br>
       Camon  <%= link_to "sign_up", new_customer_registration_path %>!!<br>
    </div>

    <div class="aaa">

        <img src="assets/img_sizzle_millecrepes.jpg">
        <img src="assets/ケーキ2.jpg">
        <img src="assets/recipe-title-main-1394.jpg">
        <img src="assets/get11.jpeg">
        <img src="assets/get.jpeg">
        <img src="assets/ケーキ3.jpg">

    </div>

</body>

