<% provide(:title, "商品一覧") %>
<div class="row">
	<div class="col-xs-12 center-block">
		<h2 class="product-headline title_h2">
		商品一覧
		<span>
			(全<%= @products.total_count %>件中　<%= @products.count %>件)
		</span>
		</h2>
			<div class="clearfix product-box">
				<% @products.first(8).each do |product| %>
				  <%= render "product_each", product: product %>
				<% end %>
			</div>
			<div class="paginate"><%= paginate(@products) %></div>

	</div>
</div>
