<% provide(:title, "ホーム") %>
<link href="https://fonts.googleapis.com/css?family=M+PLUS+1p" rel="stylesheet">
<body class="test">
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div class = "sample">
				<img src="assets/61952f5b172dc-ae1f-452f-b6ff-f054178e1ada_m.jpg">
				<p>
				  <span class="welcom">Welcom NaganoCake</span><br>
				  このサイトは、ケーキ販売のECサイトになります。<br>
				  会員でない方も商品の閲覧はできますが、<br>
				  購入には会員登録が必要になります。<br>
				</p>
			</div>



			<h2 class="toppage-head">オススメ商品</h2>
			<!-- ランダムに4つ表示されるようになっています -->
			<% @products.first(5). each do |product| %>
			  <%= render "product_each", product: product %>
			<% end %>
			<div class="col-xs-12">
			<%= link_to "もっと見る", products_path, class: "btn-link  pull-right" %>
			</div>
		</div>

	</div>
</div>
</body>
