// Place all the styles related to the admin::orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.order-show > p > span {
	margin-left: 50px;
}
.order-show > p {
	font-size: 15px;
}
.order-update-btn {
	margin-left: 100px;
}