// Place all the styles related to the admin::products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#img_field {
  width: 250px;
  height: 180px;
  background-color: red;
}
