<% provide(:title, "管理者ログイン") %>
<div class="row">
  <div class="col-xs-offset-1 col-xs-11">
    <h2 class="head-line title_h2 text-center">管理者ログイン</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= render "layouts/error_messages", resource: resource %>
  <%= render "session", f: f %>

  <div class="actions col-xs-6">
    <%= f.submit "　ログイン　", class: "btn btn-info pull-right btn-lg" %>
  </div>
<% end %>
  </div>
</div>
