<% if notice%>
	<div class="flash notice">
	  <span id="notice"><%= notice %></span>
	</div>
<% elsif flash[:success] %>
	<div class="flash success">
  	<span id="success"><%= flash[:success] %></span>
	</div>
<% elsif flash[:alert] %>
	<div class="flash danger">
	  <span id="alert"><%= flash[:alert] %></span>
	</div>
<% end %>
