<div class="genre_search">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="h4 info">ジャンル検索</th>
      </tr>
    </thead>
      <tbody>
      <% products.each do |product| %>
        <% if product.genre.is_valid == true %>
          <tr>
            <td>
              <%= link_to admin_genre_path(product.genre.id), method: :get do %>
                <%= product.genre.name %>
              <% end %>
            </td>
          </tr>
        <% else %>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <div class="text-center"><%= paginate(products) %></div>
</div>
